header.header
    .container
        ul.header__menu
            li.header__menu__item
                a.header__menu__link(href='#') Marketplace
            li.header__menu__item
                a.header__menu__link(href='#') Battle
            li.header__menu__item
            li.header__menu__item
            li.header__menu__item
            li.header__menu__item
                a.header__menu__link(href='#') My monsters
            li.header__menu__item
                a.header__menu__link(href='#') Activity
        img.header__logo(src='images/logo.png' alt='logo')